/.build/
/Makefile.user
/README.html
/buildbot-data/bshomes/
/buildbot-data/builds/
/buildbot-data/ccache/
/buildbot-data/packages/
/buildbot-data/pollers/
/buildbot-data/src/
/buildbot-data/triggers/
/master/buildbot.tac
/master/http.log*
/master/state.sqlite*
/master/twistd.log
/master/config.py
/toolchains/*/Dockerfile.debug
/workers/*/Dockerfile.debug

__pycache__/
