/.build/
/buildbot-config/config.py
/buildbot-config/htpasswd
/buildbot-data/bshomes/
/buildbot-data/builds/
/buildbot-data/ccache/
/buildbot-data/packages/
/buildbot-data/pollers/
/buildbot-data/src/
/buildbot-data/triggers/
/buildbot-workdir/
/Makefile.user*
!/Makefile.user.example
/README.html
/toolchains/*/Dockerfile.debug
/workers/*/Dockerfile.debug

__pycache__/
