#BUILDBOT_VERSION   := 
#BUILDBOT_BASEDIR   := 

# Without toolchains/ part, all is a placeholder for all detected toolchains
TOOLCHAINS_ENABLED := 
TOOLCHAINS_BUILT   := 

# Without workers/ part, all is a placeholder for all detected workers
WORKERS_ENABLED    := all
WORKERS_BUILT      := 

#DOCKER_REGISTRY    := 
#DOCKER_SEPARATOR   := :


