import os

def init(base_dir):
    global buildbot_base_dir, buildbot_data_dir
    buildbot_base_dir = os.path.expanduser(base_dir)
    buildbot_data_dir = os.path.normpath(os.path.join(buildbot_base_dir, "..", "buildbot-data"))

db = {
    "db_url": "sqlite:///state.sqlite"
}

docker_socket = 'unix:///var/run/docker.sock'
docker_workers_net = 'workers-net'

# Environment shared by all builds and builders
common_env = {
    "LC_ALL": "C.utf-8",
    "CCACHE_COMPRESS": "1",
}

# These engines can't be used on some platforms due to CPU/Video requirements
disable_heavy_engines = "--disable-engines=sword25,wintermute"

www_port = ("127.0.0.1", 8010)
htfile = './scumm_htpasswd'
changehook_passwd = './changehook.passwd'
pb_protocol_port = 9989

projectName = "ScummVM"
projectURL = "https://scummvm.org/"
buildbotURL = "https://buildbot.scummvm.org/"
