import os

def init(base_dir):
    global buildbot_base_dir, buildbot_data_dir
    buildbot_base_dir = os.path.expanduser(base_dir)
    buildbot_data_dir = os.path.normpath(os.path.join(buildbot_base_dir, "..", "buildbot-data"))

db = {
    "db_url": "sqlite:///state.sqlite"
}

docker_socket = 'unix:///var/run/docker.sock'
docker_workers_net = 'workers-net'

# Which port the Buildbot worker will listen
# It will be used on master side to connect to worker
# and it will be used on worker side to configure worker
pb_protocol_port = 9989

# Environment shared by all builds and builders
common_env = {
    "LC_ALL": "C.UTF-8",
    "CCACHE_COMPRESS": "1",
}

# List of platforms enabled
platforms_whitelist = [
]
platforms_blacklist = [
]


changehook_passwd = './changehook.passwd'

# UI settings
projectName = "ScummVM"
projectURL = "https://scummvm.org/"
# Where web server must listen
www_port = ("127.0.0.1", 8010)
# URL used to reach Buildbot instance
buildbotURL = "https://buildbot.scummvm.org/"

htfile = './scumm_htpasswd'
